Source: kaltura-ffmpeg-aux
Section: video
Priority: optional
Maintainer: Nilton OS <jniltinho@gmail.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.6.2

Package: kaltura-ffmpeg-aux
Architecture: all
Depends: ${misc:Depends}, ffmpeg
Description: Kaltura - FFmpeg auxiliar (ffmpeg da distro)
 Pacote-ponte para Ubuntu 24.04: expõe o binário da distro nos caminhos
 de /opt/kaltura esperados pelo Kaltura CE.
