Source: kaltura-sphinx
Section: misc
Priority: optional
Maintainer: Nilton OS <jniltinho@gmail.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.6.2

Package: kaltura-sphinx
Architecture: all
Depends: ${misc:Depends}, sphinxsearch, kaltura-base
Description: Kaltura - Sphinx searchd (sphinxsearch da distro)
 Pacote-ponte para Ubuntu 24.04: expõe o binário da distro nos caminhos
 de /opt/kaltura esperados pelo Kaltura CE.
